*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    text-transform: lowercase;
  
}

.centered-text {
    text-align: center;
}

h1 {
    font-size: 3em;
    color:#093F2D;
}