* {
    padding: 0;
    margin: 0;
}



body > header:first-of-type {
    font-family: monospace;
    h1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: yellow;
        text-transform: uppercase;
        padding: 15px;
    }
    ul {
        display: flex; 
        flex-direction:row;
        justify-content: space-evenly; 
        background-color: rgb(71, 71, 71);
        padding: 10px; 
        list-style-type: none; 
        color: white;
        font-size: large;
    }
   a:first-of-type{
    text-decoration: none;
    color: white;
   }
}


main > header:first-of-type{
        background-image: url(images/talking_heads-speaking_in_tongues.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

header > section:first-of-type {
        display: grid;
        grid-template-rows: repeat(8, 50px);
        grid-template-columns: repeat(6, 100px);
        background-color: rgba(3, 3, 3, 0.8);
        margin-left: 7em;
        margin-right: 7em;
    h1 {
        color: yellow; 
        font-size: 40px;
        grid-row: 3;
        grid-column: 2 / 8; 
    } 
    h2{
        color: white;
        font-size:25px;
        grid-row: 4;
        grid-column: 2 / 8;
        }
    h3 {
        color: rgba(184, 181, 181, 0.8);
        font-size:20px;
        grid-row: 5;
        grid-column: 2 / 8;
    }
    img {
        width: 250px;
        grid-row: 2;
        grid-column: 10;
        } 

        @media only screen and (max-width: 1270px) { 
    h2{
            color: white;
            font-size:20px;
            grid-row: 5;
            grid-column: 2 / 8;
            }
     h3 {
                color: rgba(184, 181, 181, 0.8);
                font-size:15px;
                grid-row: 6;
                grid-column: 2 / 8;
            }
        }

    }
        
article {
    display:grid;
    grid-template-rows: repeat(35, 30px);
    grid-template-columns: repeat(6, 50px);

  aside {
    margin-top: 10px;
    width: 320px;
    grid-row: 1;
    grid-column: 9;
    text-align: center;
    background-color: grey;
   
  } 

  aside > h2 {
    background-color: yellow;
    padding: 5%;
    text-align: left;
    font-family: monospace;
    text-transform: uppercase;
    
    
  }

  aside > p {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 5%;
    text-align: left;
    font-family: monospace;
  }

  blockquote {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 12%;
    text-align: left;
    font-family: monospace;
    border-bottom: 5px solid white;
  }

  a:nth-child(1) {
    text-decoration: none;
    color: yellow;
  }

  iframe {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(71, 71, 71) ;
    width: 300px;
  }
 
 
  section:nth-child(2){
    width: 300px;
    grid-row:0;
    grid-column: 4;
    margin-top: 10px;
    font-family: monospace;

    h2 {
        width: 100px;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: large;
    }
    p{
        margin-top: 5px;
        padding: 10px;
        border-left: solid 2px yellow;
        word-spacing: 2px;
    }
  }

  section:nth-child(3){
    width: 300px;
    grid-row:9;
    grid-column: 5;
    font-family: monospace;

    h2 {
        width: 100px;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: large;
    }
    p{
      margin-top: 5px;
      padding: 10px;
      border-left: solid 2px yellow;
      word-spacing: 2px;
  }
}

section:nth-child(4){
    width: 300px;
    grid-row: 16;
    grid-column: 4;
    font-family: monospace;

    h2 {
        width: 100px;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: large;
    }
    p{
      margin-top: 5px;
      padding: 10px;
      border-left: solid 2px yellow;
      word-spacing: 2px;
  }
    
  }
  section:nth-child(5){
    width: 300px;
    grid-row:24;
    grid-column: 5;
    font-family: monospace;

    h2 {
        width: 100px;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: large;
    }
    p{
      margin-top: 5px;
      padding: 10px;
      border-left: solid 2px yellow;
      word-spacing: 2px;
  }
    
  }

  footer {
    grid-row:200;
    grid-column: 1/10;
    border-top: solid 3px yellow;
    font-family: monospace;
    font-size: smaller;
    text-align: center;
    padding: 10px;
}

a:nth-child(2) {
    text-decoration: none;
    background-color: yellow;
    font-size: small;
}

}

/*For when browser is resized*/



@media only screen and (max-width: 990px) { 
    article {
        display:grid;
        grid-template-rows: repeat(70, 30px);
        grid-template-columns: repeat(6, 50px);
      

  aside {
    margin-top: 10px;
    width: 35em;
    grid-row: 1;
    grid-column: 5;
    text-align: center;
    background-color: grey;
   
  } 

  aside > h2 {
    background-color: yellow;
    padding: 5%;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    
  }
  

  aside > p {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 5%;
    text-align: left;
    font-family: monospace;
    font-size: larger;
  }

  blockquote {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 12%;
    text-align: left;
    font-family: monospace;
    border-bottom: 5px solid white;
    font-size: larger;
  }

  a:nth-child(1) {
    text-decoration: none;
    color: yellow;
  }

  iframe {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(71, 71, 71) ;
    width: 540px;
    height: 200px;
  }
 
 
  section:nth-child(2){
    width: 250px;
    grid-row:33;
    grid-column: 5;
    font-family: monospace;
    padding: 10px;

    h2 {
        width: 500px;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: large;
    }
    p{
      width: 500px;
        margin-top: 5px;
        padding-left: 5px;
        border-left: solid 2px yellow;
        padding: 10px;
        text-align: center;
        font-size: large;
    }
  }

  section:nth-child(3){
    width: 250px;
    grid-row:42;
    grid-column: 5;
    font-family: monospace;
    padding: 10px;

    h2 {
        width: 500px;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: large;
    }
    p{
      width: 500px;
        margin-top: 5px;
        padding-left: 5px;
        border-left: solid 2px yellow;
        padding: 10px;
        text-align: center;
        font-size: large;
    }
  }

  section:nth-child(4){
    width: 250px;
    grid-row:50;
    grid-column: 5;
    font-family: monospace;
    padding: 10px;

    h2 {
        width: 500px;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: large;
    }
    p{
      width: 500px;
        margin-top: 5px;
        padding-left: 5px;
        border-left: solid 2px yellow;
        padding: 10px;
        text-align: center;
        font-size: large;
    }
  }
    
  
  section:nth-child(5){
    width: 300px;
    grid-row:58;
    grid-column: 5;
    font-family: monospace;
    padding: 10px;

    h2 {
        width: 500px;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: large;
    }
    p{
      width: 500px;
        margin-top: 5px;
        padding-left: 5px;
        border-left: solid 2px yellow;
        padding: 10px;
        text-align: center;
        font-size: large;
    }
  }
  
  footer {
    grid-row:70/200;
    grid-column: 1/10;
    border-top: solid 3px yellow;
    font-family: monospace;
    font-size: xx-small;
    text-align: center;
    padding: 10px;
}

a:nth-child(2) {
    text-decoration: none;
    background-color: yellow;
    font-size: smaller;
}
    }
  }


  
  
  

